lab4/.ipynb_checkpoints
lab4/data/FashionMNIST
lab3/.ipynb_checkpoints
lab2/.ipynb_checkpoints
lab1/.ipynb_checkpoints
data/pictures/1
data/pictures/2
data/pictures/3
.idea
__pycache__

data/embs/embs_targets_2.pkl
data/embs/all_embs.pkl
data/embs/embs_targets_1.pkl
data/embs/embs_targets_3.pkl
data/csvs/binary.csv
lab2/data/train_recommend.csv
lab3/data/test_flood.csv
lab3/data/train_fat.csv
lab3/data/train_flood.csv
lab1/data/sarcasm.json
lab2/data/cars.tsv
lab5/data/SMS.tsv